body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:507px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:127px;
  top:-66px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:51px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:51px;
  width:320px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:71px;
  width:320px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:115px;
  width:320px;
  height:504px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
}
#u9 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:297px;
  top:84px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:174px;
  top:81px;
  width:16px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:199px;
  top:86px;
  width:27px;
  height:16px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:159px;
  top:237px;
  width:314px;
  height:190px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:190px;
}
#u17 {
  position:absolute;
  left:2px;
  top:79px;
  width:310px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:160px;
  top:241px;
  width:318px;
  height:47px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:47px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:435px;
  top:260px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:179px;
  top:285px;
  width:300px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u23 {
  position:absolute;
  left:160px;
  top:292px;
  width:318px;
  height:42px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:42px;
}
#u24 {
  position:absolute;
  left:2px;
  top:13px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:220px;
  top:305px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:160px;
  top:339px;
  width:318px;
  height:42px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:42px;
}
#u28 {
  position:absolute;
  left:2px;
  top:13px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:220px;
  top:348px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:435px;
  top:346px;
  width:20px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:160px;
  top:385px;
  width:318px;
  height:42px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:42px;
}
#u34 {
  position:absolute;
  left:2px;
  top:13px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:220px;
  top:394px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:435px;
  top:392px;
  width:20px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:178px;
  top:374px;
  width:300px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u40 {
  position:absolute;
  left:178px;
  top:330px;
  width:300px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u41 {
  position:absolute;
  left:220px;
  top:256px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:435px;
  top:305px;
  width:20px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:295px;
  top:136px;
  width:50px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:304px;
  top:198px;
  width:35px;
  height:22px;
  font-family:'Arial Oblique', 'Arial';
  font-weight:400;
  font-style:oblique;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:199px;
  top:537px;
  width:261px;
  height:15px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#868686;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
