body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:507px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:127px;
  top:-31px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:84px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:84px;
  width:320px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:104px;
  width:320px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:148px;
  width:320px;
  height:504px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
}
#u9 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:289px;
  top:117px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:174px;
  top:114px;
  width:16px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:199px;
  top:119px;
  width:27px;
  height:16px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:161px;
  top:171px;
  width:318px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:181px;
  top:179px;
  width:80px;
  height:80px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:289px;
  top:195px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:289px;
  top:231px;
  width:89px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:161px;
  top:422px;
  width:320px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:227px;
  top:439px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:435px;
  top:436px;
  width:20px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:179px;
  top:437px;
  width:20px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:180px;
  top:586px;
  width:260px;
  height:30px;
  color:#FF3366;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:280px;
  top:593px;
  width:53px;
  height:16px;
  color:#FC6E42;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:161px;
  top:294px;
  width:320px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:161px;
  top:294px;
  width:320px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:225px;
  top:311px;
  width:27px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:437px;
  top:308px;
  width:20px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:181px;
  top:309px;
  width:20px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:161px;
  top:358px;
  width:320px;
  height:50px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:225px;
  top:379px;
  width:66px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:436px;
  top:372px;
  width:20px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:181px;
  top:378px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:438px;
  top:215px;
  width:20px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:348px;
  top:200px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
