body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:138px;
  top:-53px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:63px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:171px;
  top:127px;
  width:319px;
  height:498px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:498px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1000px;
  overflow:hidden;
  touch-action:none;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:1px;
  width:320px;
  height:979px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:979px;
}
#u7 {
  position:absolute;
  left:2px;
  top:482px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:17px;
  top:30px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:61px;
  top:19px;
  width:240px;
  height:35px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:78px;
  top:25px;
  width:210px;
  height:26px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13 {
  position:absolute;
  left:270px;
  top:24px;
  width:23px;
  height:23px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:18px;
  top:74px;
  width:62px;
  height:16px;
  font-size:14px;
  color:#FF3366;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:8px;
  top:99px;
  width:140px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:167px;
  top:99px;
  width:140px;
  height:100px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:8px;
  top:219px;
  width:140px;
  height:100px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u22 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:170px;
  top:102px;
  width:131px;
  height:92px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:92px;
}
#u24 {
  position:absolute;
  left:2px;
  top:38px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:14px;
  top:102px;
  width:130px;
  height:90px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u26 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:16px;
  top:332px;
  width:62px;
  height:16px;
  font-size:14px;
  color:#FF3366;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:8px;
  top:357px;
  width:140px;
  height:133px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:133px;
}
#u30 {
  position:absolute;
  left:2px;
  top:58px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:170px;
  top:357px;
  width:140px;
  height:133px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:133px;
}
#u32 {
  position:absolute;
  left:2px;
  top:58px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:8px;
  top:507px;
  width:140px;
  height:128px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:128px;
}
#u34 {
  position:absolute;
  left:2px;
  top:56px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:171px;
  top:507px;
  width:140px;
  height:128px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:128px;
}
#u36 {
  position:absolute;
  left:2px;
  top:56px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:16px;
  top:360px;
  width:122px;
  height:67px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:67px;
}
#u38 {
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:195px;
  top:511px;
  width:93px;
  height:84px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:84px;
}
#u40 {
  position:absolute;
  left:2px;
  top:34px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:8px;
  top:658px;
  width:140px;
  height:140px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u42 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:34px;
  top:660px;
  width:76px;
  height:87px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:87px;
}
#u44 {
  position:absolute;
  left:2px;
  top:36px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:9px;
  top:740px;
  width:139px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:45px;
  top:775px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:28px;
  top:428px;
  width:92px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:53px;
  top:464px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:190px;
  top:588px;
  width:105px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:198px;
  top:610px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:27px;
  top:508px;
  width:88px;
  height:85px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:85px;
}
#u58 {
  position:absolute;
  left:2px;
  top:34px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:27px;
  top:598px;
  width:92px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:36px;
  top:616px;
  width:59px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:200px;
  top:360px;
  width:62px;
  height:74px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:74px;
}
#u64 {
  position:absolute;
  left:2px;
  top:29px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:227px;
  top:451px;
  width:75px;
  height:13px;
  font-size:10px;
  color:#949494;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:13px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:170px;
  top:435px;
  width:140px;
  height:16px;
  font-size:10px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:203px;
  top:464px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:17px;
  top:814px;
  width:62px;
  height:16px;
  font-size:14px;
  color:#FF3366;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:170px;
  top:63px;
  width:320px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:170px;
  top:83px;
  width:320px;
  height:44px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u76 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:309px;
  top:96px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:184px;
  top:93px;
  width:16px;
  height:25px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:209px;
  top:98px;
  width:27px;
  height:16px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
