body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:508px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:128px;
  top:-67px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:50px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:50px;
  width:320px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:70px;
  width:320px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:114px;
  width:320px;
  height:504px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
}
#u9 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:83px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:165px;
  top:163px;
  width:310px;
  height:117px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:117px;
}
#u13 {
  position:absolute;
  left:2px;
  top:50px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:165px;
  top:213px;
  width:310px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u15 {
  position:absolute;
  left:176px;
  top:184px;
  width:27px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:176px;
  top:241px;
  width:53px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:239px;
  top:172px;
  width:234px;
  height:35px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20 {
  position:absolute;
  left:239px;
  top:235px;
  width:234px;
  height:35px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:180px;
  top:378px;
  width:280px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:276px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:168px;
  top:79px;
  width:16px;
  height:25px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:193px;
  top:84px;
  width:27px;
  height:16px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:202px;
  top:216px;
  width:236px;
  height:116px;
  overflow:hidden;
  visibility:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:116px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:8px;
  top:11px;
  width:220px;
  height:59px;
  color:#363636;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:59px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:79px;
  top:27px;
  width:80px;
  height:19px;
  font-size:16px;
  color:#1B1B1B;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
