body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:508px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:128px;
  top:-64px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:53px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:53px;
  width:320px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:161px;
  top:117px;
  width:319px;
  height:496px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:496px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:940px;
  overflow:hidden;
  touch-action:none;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:940px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:4px;
  top:410px;
  width:311px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:28px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:248px;
  width:318px;
  height:150px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:150px;
}
#u11 {
  position:absolute;
  left:2px;
  top:67px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:62px;
  top:260px;
  width:169px;
  height:16px;
  font-size:16px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:5px;
  top:287px;
  width:310px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u15 {
  position:absolute;
  left:24px;
  top:304px;
  width:94px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:19px;
  top:358px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:83px;
  top:357px;
  width:53px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:23px;
  top:331px;
  width:133px;
  height:14px;
  font-size:11px;
  color:#949494;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:206px;
  top:349px;
  width:96px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:5px;
  top:398px;
  width:310px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u26 {
  position:absolute;
  left:23px;
  top:414px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#868686;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:18px;
  top:497px;
  width:269px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:9px;
  top:607px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:18px;
  top:531px;
  width:271px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:20px;
  top:565px;
  width:294px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:6px;
  top:460px;
  width:163px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1px;
  top:0px;
  width:318px;
  height:248px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:248px;
}
#u39 {
  position:absolute;
  left:2px;
  top:116px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:17px;
  top:643px;
  width:249px;
  height:28px;
  font-size:11px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:28px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:14px;
  top:686px;
  width:287px;
  height:14px;
  font-size:11px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:160px;
  top:73px;
  width:320px;
  height:44px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u45 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:175px;
  top:82px;
  width:16px;
  height:25px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:290px;
  top:86px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
