body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:508px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:128px;
  top:-52px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:64px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:64px;
  width:320px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:84px;
  width:320px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:128px;
  width:320px;
  height:504px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
}
#u9 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:295px;
  top:97px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:174px;
  top:94px;
  width:16px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:199px;
  top:99px;
  width:27px;
  height:16px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:160px;
  top:152px;
  width:320px;
  height:99px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:99px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:161px;
  top:273px;
  width:323px;
  height:245px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:105px;
  top:0px;
  width:107px;
  height:80px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:80px;
}
#u22 {
  position:absolute;
  left:2px;
  top:32px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:212px;
  top:0px;
  width:106px;
  height:80px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:80px;
}
#u24 {
  position:absolute;
  left:2px;
  top:32px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:80px;
  width:105px;
  height:80px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:105px;
  top:80px;
  width:107px;
  height:80px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:80px;
}
#u28 {
  position:absolute;
  left:2px;
  top:32px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:212px;
  top:80px;
  width:106px;
  height:80px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:80px;
}
#u30 {
  position:absolute;
  left:2px;
  top:32px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:160px;
  width:105px;
  height:80px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u32 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:105px;
  top:160px;
  width:107px;
  height:80px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:80px;
}
#u34 {
  position:absolute;
  left:2px;
  top:32px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:212px;
  top:160px;
  width:106px;
  height:80px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:80px;
}
#u36 {
  position:absolute;
  left:2px;
  top:32px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:294px;
  top:330px;
  width:53px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:408px;
  top:330px;
  width:27px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:161px;
  top:127px;
  width:318px;
  height:120px;
  overflow:hidden;
  touch-action:pan-y;
}
#u41_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u43 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:120px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u45 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:120px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u47 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:252px;
  top:187px;
  width:110px;
  height:50px;
  overflow:hidden;
}
#u48_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:55px;
  top:41px;
  width:8px;
  height:8px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:68px;
  top:41px;
  width:8px;
  height:8px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:81px;
  top:41px;
  width:8px;
  height:8px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:55px;
  top:41px;
  width:8px;
  height:8px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:68px;
  top:41px;
  width:8px;
  height:8px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:81px;
  top:41px;
  width:8px;
  height:8px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:55px;
  top:41px;
  width:8px;
  height:8px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:68px;
  top:41px;
  width:8px;
  height:8px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:81px;
  top:41px;
  width:8px;
  height:8px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:193px;
  top:356px;
  width:46px;
  height:55px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:55px;
}
#u68 {
  position:absolute;
  left:2px;
  top:20px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:190px;
  top:412px;
  width:53px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:302px;
  top:283px;
  width:37px;
  height:39px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:302px;
  top:361px;
  width:45px;
  height:47px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:299px;
  top:413px;
  width:53px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:402px;
  top:281px;
  width:40px;
  height:40px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:186px;
  top:328px;
  width:53px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
