body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:507px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:127px;
  top:-69px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:47px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:47px;
  width:320px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:67px;
  width:320px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:111px;
  width:320px;
  height:504px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
}
#u9 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:297px;
  top:80px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:174px;
  top:77px;
  width:16px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:199px;
  top:82px;
  width:27px;
  height:16px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:161px;
  top:110px;
  width:319px;
  height:505px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:505px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:660px;
  overflow:hidden;
  touch-action:none;
}
#u17_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:660px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:1px;
  top:1px;
  width:318px;
  height:339px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:339px;
}
#u19 {
  position:absolute;
  left:2px;
  top:162px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:13px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:140px;
  top:12px;
  width:88px;
  height:19px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:30px;
  top:43px;
  width:198px;
  height:17px;
  color:#949494;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:68px;
  width:319px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u27 {
  position:absolute;
  left:5px;
  top:3px;
  width:309px;
  height:69px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:69px;
}
#u28 {
  position:absolute;
  left:2px;
  top:26px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:30px;
  top:90px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:140px;
  top:89px;
  width:88px;
  height:19px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:30px;
  top:120px;
  width:198px;
  height:17px;
  color:#949494;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:145px;
  width:319px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u36 {
  position:absolute;
  left:30px;
  top:161px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:140px;
  top:160px;
  width:88px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:30px;
  top:191px;
  width:198px;
  height:17px;
  color:#949494;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:218px;
  width:319px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:302px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:319px;
  height:1px;
}
#u43 {
  position:absolute;
  left:10px;
  top:78px;
  width:309px;
  height:69px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:69px;
}
#u44 {
  position:absolute;
  left:2px;
  top:26px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:6px;
  top:153px;
  width:309px;
  height:69px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:69px;
}
#u46 {
  position:absolute;
  left:2px;
  top:26px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:426px;
  top:84px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
