body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:160px;
  top:-7px;
  width:320px;
  height:568px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:160px;
  top:-7px;
  width:320px;
  height:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:160px;
  top:13px;
  width:320px;
  height:44px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:160px;
  top:57px;
  width:320px;
  height:504px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
}
#u8 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:297px;
  top:26px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:174px;
  top:23px;
  width:16px;
  height:25px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:199px;
  top:28px;
  width:27px;
  height:16px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
